html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  .gg {
    position: relative;
    left: 100px;
  }
  .gg h1 {
    font-family: 'tomi';
  }
  
  @font-face {
    font-family: tomi;
    src: url(tomi.otf);
  }
  .vs {
    position: relative;
    left: 100px;
  }
  
  .vs h1 {
    font-family: 'tomi';
  }
  footer {
    position: relative;
    top: 180px;
    left: 50px;
    color: #808080;
  }
  footer h1 {
    font-size: 13px;
  }
  @media screen and (max-width: 375px) {
    .vs {
      position: relative;
      left: 0px;
    }
    .gg {
      position: relative;
      left: 0px;
    }
    footer {
      left: 0px;
    }
  }